.card {
    color: white;
    background-color: black;
    border: red solid 8px;
    width: 800px;
    margin: 10px auto;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

.content {
    background-color: #ccffff;
    color: black;
    text-align:justify;
    margin: 40px auto;
}

.title {
    font-size: 24px;
    font-style: bold;
    color: orange;
}

.subtitle {
    font-size: 12px;
    color: red;
}

.highlight {
    padding: 5px;
    border: yellow solid 8px;
    font-size: 16px;
    color: yellow;
}

.list {
    width: calc(100% - 20px);
    margin: 10 auto;
    padding: 10px;
    border: orange solid;
    background: white;
    font-size: 14px;
    font-style: bold italic;
    color: green;
}

.recipes {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.recipes li {
    display: flex;
    flex: 1;
    padding: 10px;
    max-width: 250px;
}

.recipes a {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    color: darkblue;
    font-weight: bold;
}

img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 5px;
}

.button {
    padding: 10px;
    border: 4px solid black;
    background-color: lightgray;
    display: inline-block;
}