.card {
    color: #e5e7eb;
    background-color: #1f2937;
    width: 800px;
    margin: 10px auto;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.content {
    background-color: #ccffff;
    color: black;
    text-align:justify;
    margin: 40px auto;
}

.hero {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.hero-secondary {
    font-size: 12px;
    color: red;
}

.hero-tertiary {
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    color: #1f2937;
}
.highlight {
    padding: 5px;
    border: yellow solid 8px;
    font-size: 16px;
    color: yellow;
}

.list {
    width: calc(100% - 20px);
    margin: 10 auto;
    padding: 10px;
    border: orange solid;
    background: white;
    font-size: 14px;
    font-style: bold italic;
    color: green;
}

.recipes {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.recipes li {
    display: flex;
    justify-content: space-around;
    flex: none;
    gap: 10px;
    padding: 10px;
}

.recipes a {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
}

img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 5px;
}

.button {
    padding: 10px;
    border: 4px solid black;
    background-color: lightgray;
    display: inline-block;
}

a {
    color: darkblue;
    text-decoration: none;
}